<div class="container-fluid purchase-manager">
    <div class="row body-wrapper">
        <div class="col-xs-12 col-md-12 content">
            <div class="row content-header">
                <div class="btn btn-primary btn-sm btn-add-client" ui-sref=".add({})">Add new client</div>
                <div class="header-search">
                    <input type="text" class="filter-input" ng-model="accounts.filter" placeholder="Name, SSN or TIN, Rep Code, Office, Street, City, Stete, Phone Number, Account Number">
                    <div class="search-icon"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 content grid-wrapper">
            <div grid
                 filter="accounts.filter"
                 orderby="accounts.orderBy"
                 columns="accounts.columns"
                 data="accounts.data">
            </div>
        </div>
    </div>
</div>
<div ui-view></div>